mixin checkbox-button({text = 'текст', checked = checked, elementName = 'default-element'} = {text, checked, elementName})
    label.checkbox-button.js-checkbox-button
        input(class=`checkbox-button__${elementName} js-checkbox-button__${elementName}`)(type='checkbox',
            name=`checkbox-button__${elementName}`, checked=checked)
        span.checkbox-button__indicator
        span.checkbox-button__description=text