mixin input({text = 'текст', value = '0', width = '90', type = 'number'} = {text, value, parentName, type})
    label.input
      div.input__wrapper(class=`input__wrapper_width${width}`)
        span.input__description=text
        input.input__value(class=`input__value_width${width}`, class=`js-input__value` type=type,
         name=`input-${parentName}`, value=value)
        