mixin input({text = 'текст', value = '0', parentName = 'default-input', type = 'number'} = {text, value, parentName, type})
    label.input
      div.input__wrapper(class=`input__wrapper_for-${parentName}`)
        span.input__description=text
        input.input__value(class=`input__value_for-${parentName}`, class=`js-input__value_for-${parentName}` type=type,
         name=`input-${parentName}`, value=value)
        